---
import Buttons from './Buttons.astro';
import TextBox from './TextBox.astro';

const IconEmail = './src/assets/account.svg';
const IconPassword = './src/assets/lock.svg';

const IconLogin = './src/assets/login.svg';

---


<div id="Caja-Login">
    <div id="Login-Icon">
       <img src={IconLogin} alt="Login Icon" id="Icon-Sigh-In">
    </div>

    <div id="Login-Title">
        <h1>SIGN IN WITH MAIL</h1>
    </div>

    <div>
        <h3>Make a new doc to bring you words, data</h3>
        <h3>and teams together. For free </h3>
    </div>
    <TextBox placeholder="EMAIL" icon={IconEmail} />
    <TextBox placeholder="PASSWORD" icon={IconPassword} />
    <Buttons text="GET STARTED"  />

</div>



<style>
    #Caja-Login{
        width: 40%;
        height: 80%;
        text-align: center;
        background-color: #f6f6f6;
        border-radius: 21px;
        margin-inline: 32%; 
        margin-top: 5%;
        margin-bottom: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        background: #f6f6f6;
        background-image: linear-gradient(0deg, rgba(253, 253, 253, 1) 70% , rgba(34, 138, 242, 1) 100%);
        border-style: dashed;
        border-color: #ffffff;
        border-width: 1px;
    }

    h1 {
        font-size: 26px;
        color: #000000;
        font: 400 26px/1.2 "Source Sans Pro", "Source Sans Pro";
        margin-bottom: 10px;
    }

    h3{
        font-size: 16px;
        color: #d2d2d2;
        font: 400 16px/1.2 "Source Sans Pro", "Source Sans Pro";
        margin: 0%;
        padding: 0%;
    }

    #Login-Icon {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1078);
        height: 100px;
        width: 100px;
        background-color: #f6f6f6;
        border-radius: 21px;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-inline: auto;

    }

    #Icon-Sigh-In {
        width: 74px;
        height: 81px;
        fill: #000000; 
        filter: brightness(0%);
        mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) , rgba(0, 0, 0, 1));
        /*
        background: #ccc
        background: #ffffff00;
        
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%); 
        
        */
    }




</style>



<script>
    
</script>